step_functions/model_training_pipeline.json
{
  "Comment": "A simple AWS Step Functions state machine that orchestrates a sequence of Lambda functions with error handling and retry logic.",
  "StartAt": "IsIngestionNeeded",
  "States": {
    "IsIngestionNeeded": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.ingestData",
          "BooleanEquals": true,
          "Next": "DataIngestion"
        },
        {
          "Variable": "$.ingestData",
          "BooleanEquals": false,
          "Next": "CleaningFeatureEngineering"
        }
      ],
      "Default": "DataIngestion"
    },
    "DataIngestion": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-2:903071778109:function:aws-mlops-data-ingestion:$LATEST",
      "Parameters": {
        "source_url.$": "$.source_url"
      },
      "ResultPath": "$.ingestionResult",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "Next": "IngestionError"
        }
      ],
      "Next": "CleaningFeatureEngineering"
    },
    "CleaningFeatureEngineering": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-2:903071778109:function:aws-mlops-data-clean:$LATEST",
      "ResultPath": "$.cleaningResult",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "Next": "CleaningError"
        }
      ],
      "Next": "TrainingScoring"
    },
    "TrainingScoring": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-2:903071778109:function:aws-mlops-train-model:$LATEST",
      "Parameters": {
        "modelConfigKey.$": "$.modelConfigKey",
        "ingestionResult.$": "$.ingestionResult",
        "cleaningResult.$": "$.cleaningResult"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 4,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "Next": "TrainingError"
        }
      ],
      "Next": "WorkflowSucceeded"
    },
    "WorkflowSucceeded":{
      "Type": "Succeed"
    },
    "IngestionError": {
      "Type": "Fail",
      "Error": "IngestionError",
      "Cause": "The data ingestion Lambda function failed."
    },
    "CleaningError": {
      "Type": "Fail",
      "Error": "CleaningError",
      "Cause": "The cleaning & feature engineering Lambda function failed."
    },
    "TrainingError": {
      "Type": "Fail",
      "Error": "TrainingError",
      "Cause": "The training & scoring Lambda function failed."
    }
  }
}